doctype 5
html(ng-app="appPersons")
  head
    title= title
    //Jquery
    script(src="/lib/jquery/1.10.2/jquery.min.js")

    block head

    //Bootstrap3
    link(rel="stylesheet",href="/lib/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet",href="/lib/bootstrap/3.0.0/css/bootstrap-theme.min.css")
    script(src="/lib/bootstrap/3.0.0/js/bootstrap.min.js")
    
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content